@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.ubuntu-regular {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
.universal {
  margin: 30px 80px;
}
.all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.logo-text > img {
  width: 50px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
a {
  text-decoration: none;
}
.a1 {
  color: #fea301;
}
.a2 {
  color: #01acfd;
}
.a3 {
  color: #05d4df;
}
.a4 {
  color: #5d58ef;
}
.btn-prmry {
  background-color: #fea301;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  color: white;
  font-weight: 700;
}
.hr-nav {
  display: none;
}
.icon-div {
  display: none;
}
.banner-img {
  width: 350px;
}
.banner-heading {
  font-size: 40px;
  line-height: 1.2;
}
.banner-para {
  width: 65%;
  line-height: 1.5;
}
.em {
  color: #fea301;
}
.vision {
  color: #01acfd;
}
.btn-black {
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  color: azure;
  font-weight: 700;
  background-color: black;
}
.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.standard-heading {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 70px;
}
.read1 {
  color: #01acfd;
  text-align: center;
}
.read2 {
  color: #fea301;
  text-align: center;
}
.read3 {
  color: #5d58ef;
  text-align: center;
}
.read-div1,
.read-div2,
.read-div3 {
  text-align: center;
}
.read-div1 {
  background-image: linear-gradient(to bottom right, #def5ff, #ffffff);
  padding: 25px 15px;
  border-radius: 8px;
}
.read-div2 {
  background-image: linear-gradient(to bottom right, #fff4dc, #ffffff);
  padding: 25px 15px;
  border-radius: 8px;
}
.read-div3 {
  background-image: linear-gradient(to bottom right, #eee1ff, #ffffff);
  padding: 25px 15px;
  border-radius: 8px;
}
.read-img {
  width: 120px;
}
.read-div-parent {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 15px;
}
.standard-bg {
  background-image: url("../assets/bg.png");
}
.arrow-div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.arrow {
  background-color: #fea301;
  padding: 15px;
  border-radius: 15px;
}
.story-parent {
  background-image: linear-gradient(#ffffff, #fea10176), url("../assets/bg.png");
}
.story {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-image: url("../assets/bg.png");
  padding-top: 50px;
}
.story1 {
  background-color: #ffffff;
  width: 500px;
  height: 510px;
  border-radius: 8px;
}
.story2,
.story3,
.story4,
.story5 {
  width: 290px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 8px;
}
.story1 > img {
  height: 337px;
  width: 500px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.story2 > img {
  width: 291px;
  height: 177px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.story3 > img {
  width: 291px;
  height: 177px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.story4 > img {
  width: 291px;
  height: 177px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.story5 > img {
  width: 291px;
  height: 177px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.story2-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.story4-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nov19 {
  background-color: #05d4dfca;
  padding: 10px;
  width: 150px;
  text-align: center;
  border-radius: 8px;
  position: relative;
  bottom: 40px;
  margin-left: 20px;
  margin-bottom: -30px;
}
.nov20 {
  background-color: #5d58efd3;
  padding: 5px;
  width: 100px;
  text-align: center;
  border-radius: 8px;
  position: relative;
  bottom: 35px;
  margin-left: 20px;
  margin-bottom: -45px;
}
.fun1 {
  margin-left: 20px;
}
.nov-h {
  margin-left: 20px;
}
.standard-heading-stories {
  margin-top: 70px;
  margin-bottom: -10px;
  text-align: center;
}
.black-div-stories {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 20px;
}

/* Responsive */
@media screen and (max-width: 576px) {
  .universal {
    margin: 10px 15px;
  }
  .text-schl,
  .nav-btn,
  .pages {
    display: none;
  }
  .logo-text > img {
    width: 39px;
  }
  .icon-nav {
    font-size: 25px;
  }
  .icon-div {
    display: flex;
  }
  .hr-nav {
    display: flex;
    background-color: #fea301;
    margin-top: 15px;
    width: 100%;
  }
  .banner-section {
    flex-direction: column-reverse;
  }
  .banner-heading {
    text-align: center;
    margin-bottom: -3px;
  }
  .banner-para {
    width: 100%;
    text-align: center;
  }
  .black-div {
    display: flex;
    justify-content: center;
  }
  .read-div-parent {
    flex-direction: column;
    padding-bottom: 40px;
  }
  .arrow-div {
    display: none;
  }
  .standard-heading {
    margin-top: -15px;
  }
  .story1 {
    display: none;
  }
  .story2 {
    width: 173px;
    height: 205px;
  }
  .story2 > img {
    width: 173px;
    height: 105px;
  }
  .story3 {
    width: 173px;
    height: 205px;
  }
  .story3 > img {
    width: 173px;
    height: 105px;
  }
  .story4 {
    width: 173px;
    height: 205px;
  }
  .story4 > img {
    width: 173px;
    height: 105px;
  }
  .story5 {
    width: 173px;
    height: 205px;
  }
  .story5 > img {
    width: 173px;
    height: 105px;
  }
  .nov20 {
    background-color: #5d58efd3;
    padding: 5px;
    width: 100px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    bottom: 35px;
    margin-left: 20px;
    margin-bottom: -45px;
  }
  .standard-heading-stories {
    margin-top: -5px;
    margin-bottom: -30px;
  }
  .black-div-stories {
    padding-bottom: 20px;
    margin-top: 15px;
  }
}
